node_modules/
.turbo/
.vercel/

.DS_Store
*.log
*.tsbuildinfo

apps/*/.next/
apps/*/dist/
apps/*/out/
packages/*/dist/

apps/web/.env.local
apps/web/.env.development.local
apps/web/.env.production.local
apps/server/.env
packages/db/.env
